{% extends 'reliable/layout.html' %}
{% block body %}
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3transparent" id="home">
    <h1 class="w3-jumbo" style="text-shadow: 2px 2px 5px #a0a0ff;">Reliable Air Repair</h1>
    <p class="w3-large">Little Elm, TX   <i class="fa fa-snowflake-o w3-large w3-text-blue"></i>   <a href="tel:4695921148">(469) 592-1148</a></p>
    <hr>
    {% if msg %}
    <p class="w3-xlarge" style="font-family: 'Lucida Console', monospace">{{ msg }}</p>
    <hr>
    {% endif %}
    <p class="w3-xxlarge">"Providing home-owners with a low-cost, professional quality option for residential HVAC services and home appliance repair."</p>
    <img src="https://i.ibb.co/S71cQ1P/Logo.png" alt="logo" class="w3-image" width="992" height="1108">
  </header>
 
{% endblock %}
