<html>
<head>
<title>Reliable Air Repair</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<style>
.mybg {
	background-image: url("https://i.ibb.co/gWfKsjy/mybg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: #fefefe;
}
li {text-indent:5%}
body, h1,h2,h3,h4,h5,h6 {font-family: "Lobster", cursive}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #c0c0c0;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
</style>
</head>
<body class="w3-white mybg">

<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
  <!-- Avatar image in top left corner -->
  <img src="https://i.ibb.co/S71cQ1P/Logo.png" style="width:100%">
  <a href="{% url 'reliable:index' %}" class="w3-bar-item w3-button w3-padding-large w3-white">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
  </a>
  <a href="{% url 'reliable:pricing' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-white">
    <i class="fa fa-usd w3-xxlarge"></i>
    <p>PRICING</p>
  </a>
  <a href="{% url 'reliable:service' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-white">
    <i class="fa fa-phone w3-xxlarge"></i>
    <p>REQUEST</p>
  </a>
  {% if user.is_authenticated %}
  <a href="{% url 'reliable:user_dashboard' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-white">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>{{ user.username }}</p>
  </a>
  {% else %}
  <a href="{% url 'reliable:logon' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-white">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>LOGIN</p>
  </a>
 {% endif %}
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="{% url 'reliable:index' %}" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
    <a href="{% url 'reliable:pricing' %}" class="w3-bar-item w3-button" style="width:25% !important">PRICING</a>
    <a href="{% url 'reliable:service' %}" class="w3-bar-item w3-button" style="width:25% !important">REQUEST</a>
    {% if user.is_authenticated %}
    <a href="{% url 'reliable:user_dashboard' %}" class="w3-bar-item w3-button" style="width:25% !important">{{ user.username }}</a>
    {% else %}
    <a href="{% url 'reliable:logon' %}" class="w3-bar-item w3-button" style="width:25% !important">LOGIN</a>
    {% endif %}
  </div>
</div>
<div class="w3-padding-large" id="main">
		{% block body %}
		{% endblock %}
    <!-- Footer -->
  <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
    <a href="https://www.facebook.com/profile.php?id=100074587540902"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
    <a href="https://www.instagram.com/jsprings482"><i class="fa fa-instagram w3-hover-opacity"></i></a>
    <a href="https://twitter.com/SpringsJeffery"><i class="fa fa-twitter w3-hover-opacity"></i></a>
    <a href="https://www.linkedin.com/in/jeffery-springs-157b4523b/"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
    <br>
    Powered by <a href="https://www.djangoproject.com">Django</a>, <a href="https://www.python.org">Python</a>, <a href="https://www.openSuse.org">openSuse</a>, <a href="www.heroku.com">Heroku</a>, and <a href="https://www.github.com">Git Hub</a>
  <!-- End footer -->
  </footer>

<!-- END PAGE CONTENT -->
</div>

</body>
</html>
