{% extends 'reliable/layout.html' %}
{% block body %}
{% load crispy_forms_tags %}

<div class="container" style="padding: 5%">
    <h1 class="w3-jumbo w3-center" style:"text-shadow: 2px 2px 5px #c0c0ff;">Login</h1>
    <form method="POST">
        {% csrf_token %}
        {{ login_form|crispy }}
        <button class="w3-btn w3-blue" type:"submit">Login</button>
    </form>
    <p class="w3-center"> Don't have an account? Create one <a href="{% url 'register' %}">here</a>.</p>
</div>
{% endblock %}
