{% extends 'reliable/layout.html' %}
{% block body %}
{% load crispy_forms_tags %}

<div class="container" style="padding: 5%">
    <h2 class="w3-font-bold"> Reset Password</h2>
    <hr>
    <p>Forgotten your password? Enter your email address below, and we'll send you instructions for setting a new one.</p>
    <form method = "POST">
        {% csrf_token %}
        {{ password_reset_form|crispy }}
        <button class="w3-btn w3-blue" type="submit">Send Email</button>
    </form>
</div>

{% endblock %}
