{% extends 'reliable/layout.html' %}
{% block body %}

<div class="container" style="padding: 5%">
    <h2 class="w3-panel" style="margin-top:3%">Password reset E-Mail sent.</h2>
    <hr>
    <p>We've emailed you instructionsfor resetting your password, if an account existswith the email you entered. You should receive the email shortly.<br>If you don't receivean email, please make sureyou've entered the address you registered with, and check your spam folder as well.</p>
</div>

{% endblock %}
