{% extends 'reliable/layout.html' %}
{% block body %}
<div class="">
<p class="w3-jumbo w3-center" style="text-shadow: 2px 2px 5px #c0c0ff; padding-bottom: 15px;">Pricing Information</p>
<p class="w3-xxxlarge">Central Air Conditioning:</p>
<ul class="w3-xlarge" style="font-family: 'Lucida Console', monospace">
<li>Service Call: <b>$60</b></li>
<li>Preventatice Maintanence: <b>$125</b></li>
<li>Small Part Replacement: <b>$75-150</b></li>
<li>Large Part Replacement: <b>$200-700</b></li>
<li>Outdoor Unit Installation: <b>$750</b></li>
<li>Indoor Unit Installation: <b>$1250</b></li>
<li>Whole System Installation: <b>$1750</b></li>
</ul>
<p class="w3-xxxlarge">Window Unit/Ductless A/C:</p>
<ul class="w3-xlarge" style="font-family: 'Lucida Console', monospace">
<li>Service Call: <b>$40</b></li>
<li>Cleaning: <b>$60</b></li>
<li>Repair: <b>$75</b></i>
<li>Replacement: <b>$100</b></li>
</ul>
<p class="w3-xxxlarge">Central Heating:</p>
<ul class="w3-xlarge" style="font-family: 'Lucida Console', monospace">
<li>Service Call: <b>$75</b></li>
<li>Preventative Maintanence: <b>$125</b></li>
<li>Small Part Replacement: <b>$75-150</b></li>
<li>Large Part Replacement: <b>$200-700</b></li>
<li>Gas Line Service: <b>$250-750</b></li>
<li>Furnace Installation: <b>$1250-2000</b></li>
<li>Electric Heating Installation: <b>$300-1000</b></li>
</ul>
<p class="w3-xxxlarge">Portable Heater/Small Appliance:</p>
<ul class="w3-xlarge" style="font-family: 'Lucida Console', monospace">
<li>Service Call: <b>$40</b></li>
<li>Repair: <b>$50-200</b></li>
<li>Installation: <b>$75-150</b></li>
</ul>
</div>
{% endblock %}
