{% extends 'reliable/layout.html' %}
{% block body %}
<div class="">
<p class="w3-jumbo">Central Air Conditioning:</p>
<ul class="w3-xxlarge">
<li>Service Call: $60</li>
<li>Preventatice Maintanence: $125</li>
<li>Small Part Replacement: $75-150</li>
<li>Large Part Replacement: $200-700</li>
<li>Outdoor Unit Installation: $750</li>
<li>Indoor Unit Installation: $1250</li>
<li>Whole System Installation: $1750</li>
</ul>
<p class="w3-jumbo">Window Unit/Ductless A/C:</p>
<ul class="w3-xxlarge">
<li>Service Call: $40</li>
<li>Cleaning: $60</li>
<li>Repair: $75</i>
<li>Replacement: $100</li>
</ul>
<p class="w3-jumbo">Central Heating:</p>
<ul class="w3-xxlarge">
<li>Service Call: $75</li>
<li>Preventative Maintanence: $125</li>
<li>Small Part Replacement: $75-150</li>
<li>Large Part Replacement: $200-700</li>
<li>Gas Line Service: $250-750</li>
<li>Furnace Installation: $1250-2000</li>
<li>Electric Heating Installation: $300-1000</li>
</ul>
<p class="w3-jumbo">Portable Heater/Small Appliance:</p>
<ul class="w3-xxlarge">
<li>Service Call: $40</li>
<li>Repair: $50-200</li>
<li>Installation: $75-150</li>
</ul>
</div>
{% endblock %}
